// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}

// Default App Style
.App {
    min-height: 100vh;
    background-image: url('../img/bg\ .jpg');
    background-size: cover;
    background-position: center;
}

// Page Style Imports
@import './home.css';
@import './mrf-dressing.css';
@import './mrf-admin.css';

// Component Style Imports
@import './mobile-navigation.css';