.permit-numbering {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  min-height: calc(100vh - 64px);
  margin: 0 auto;
  padding: 3rem 1rem;
}
.permit-numbering h1 {
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.permit-numbering #frame {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.permit-numbering #frame .visible-element {
  /*opacity: 1;
  pointer-events: all;
  position: relative;
  top: 0;
  transition: all 250ms ease-in-out;*/
  display: unset;
}
.permit-numbering #frame .invisible-element {
  /*opacity: 0;
  pointer-events: none;
  position: relative;
  top: -1rem;*/
  display: none !important;
}
.permit-numbering #frame .btn-box {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}
.permit-numbering #frame .btn {
  padding: 0.5rem 2rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: darkslategrey;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.25rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 150ms ease-in-out;
}
.permit-numbering #frame .btn:hover {
  background-color: lightblue;
  color: black;
}
.permit-numbering #frame .btn:not(.btn:first-child) {
  margin-left: 2rem;
}
.permit-numbering #frame .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  transition: all 250ms ease-in-out;
  min-width: 100%;
}
.permit-numbering #frame .slide h3 {
  color: white;
  margin: 0 1rem 2rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
}
.permit-numbering #frame .step1 #filter-box {
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 100%;
}
.permit-numbering #frame .step1 #filter-box input {
  padding: 0 1rem 0 0.5rem;
  height: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  width: 100%;
}
.permit-numbering #frame .step1 #filter-box .icon {
  padding: 0.25rem;
  font-size: 3rem;
  position: relative;
  background-color: white;
  cursor: text;
}
.permit-numbering #frame .step1 #filter-box .show-all-icon {
  background-color: red;
  height: 3rem;
  width: 3rem;
  padding: 0.75rem;
  background-color: white;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.permit-numbering #frame .step1 #filter-box .show-all-icon:hover {
  background-color: green;
  color: white;
}
.permit-numbering #frame .step1 #contractor-option-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 2rem;
  max-height: 10.85rem;
  overflow-x: hidden !important;
  width: 100%;
}
.permit-numbering #frame .step1 #contractor-option-box .contractor {
  background-color: lightgray;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.permit-numbering #frame .step1 #contractor-option-box .contractor:not(:last-child) {
  margin-bottom: 1rem;
}
.permit-numbering #frame .step1 #contractor-option-box .contractor:hover {
  background-color: darkred !important;
  color: white !important;
}
.permit-numbering #frame .step1 #contractor-option-box::-webkit-scrollbar {
  width: 12px;
}
.permit-numbering #frame .step1 #contractor-option-box::-webkit-scrollbar-thumb {
  background-color: rgb(70, 130, 180);
  border-radius: 6px;
}
.permit-numbering #frame .step1 #contractor-option-box::-webkit-scrollbar-track {
  background-color: darkslategray;
}
.permit-numbering #frame .step1 #contractor-option-box::-webkit-scrollbar-thumb:hover {
  background-color: yellowgreen;
}
.permit-numbering #frame .step1 #contractor-option-box::-webkit-scrollbar-corner {
  background-color: transparent;
}
.permit-numbering #frame .step2 #user-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}
.permit-numbering #frame .step2 #user-box > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.permit-numbering #frame .step2 #user-box > div:not(:last-child) {
  margin-bottom: 2rem;
}
.permit-numbering #frame .step2 #user-box > div span {
  display: block;
  color: white;
  width: 5.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}
.permit-numbering #frame .step2 #user-box > div select,
.permit-numbering #frame .step2 #user-box > div input {
  height: 3rem;
  border: none;
  outline: none;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  width: 60%;
}
.permit-numbering #frame .step2 #user-box > div select {
  font-size: 1rem;
  /*-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
  cursor: pointer;
}
.permit-numbering #frame .step2 #user-box > div select option {
  font-size: 1.25rem;
}
.permit-numbering #frame .step3 #display {
  padding: 1rem 1rem 0.25rem;
  background-color: rgba(70, 180, 180, 0.15);
  color: white;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.permit-numbering #frame .step3 #display div {
  margin-bottom: 0.25rem;
}
.permit-numbering #frame .step3 #display span {
  display: inline-block;
  width: 10rem;
}
.permit-numbering #download-icon {
  color: white;
  font-size: 1.75rem;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.permit-numbering #download-icon:hover {
  color: yellow;
}/*# sourceMappingURL=permit-numbering.css.map */