.permit-numbering {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 3rem auto 0;


    h1 {
        width: 100%;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2rem 0;
        text-transform: uppercase;
        font-size: 1.75rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }


    #frame {
        display: flex;
        width: 100%;
        overflow: hidden;

        .visible-element {
            /*opacity: 1;
            pointer-events: all;
            position: relative;
            top: 0;
            transition: all 250ms ease-in-out;*/
            //height: unset;
            display: unset;
        }

        .invisible-element {
            /*opacity: 0;
            pointer-events: none;
            position: relative;
            top: -1rem;*/
            display: none !important;
        }

        .btn-box {
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            width: 100%;
        }

        .btn {
            padding: 0.5rem 2rem;
            border: none;
            text-transform: uppercase;
            cursor: pointer;
            background-color: darkslategrey;
            color: white;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 1.25rem;
            border: 1px solid rgba(255, 255, 255, 0.5);
            transition: all 150ms ease-in-out;

            &:hover {
                background-color: lightblue;
                color: black;
            }

            &:not(.btn:first-child) {
                margin-left: 2rem;
            }
        }

        .slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 2rem;
            transition: all 250ms ease-in-out;
            min-width: 100%;

            h3 {
                color: white;
                margin: 0 1rem 2rem;
                width: 100%;
                font-size: 1.5rem;
                font-weight: 600;
            }
        }

        .step1 {
            $filter-box-height: 3rem;

            #filter-box {
                display: flex;
                justify-content: center;
                height: $filter-box-height;
                width: 100%;

                input {
                    padding: 0 1rem 0 0.5rem;
                    height: 100%;
                    font-size: 1.25rem;
                    border: none;
                    outline: none;
                    width: 100%;
                }

                .icon {
                    padding: 0.25rem;
                    font-size: $filter-box-height;
                    position: relative;
                    background-color: white;
                    cursor: text;
                }
            }
        }

        #contractor-option-box {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            margin-top: 2rem;
            max-height: 10.85rem;
            overflow-x: hidden !important;
            width: 100%;


            .contractor {
                background-color: lightgray;
                padding: 0.75rem 1rem;
                font-size: 1.25rem;
                cursor: pointer;
                transition: all 150ms ease-in-out;

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }

                &:hover {
                    background-color: darkred !important;
                    color: white !important;
                }
            }

            &::-webkit-scrollbar {
                width: 12px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgb(70, 130, 180);
                border-radius: 6px;
            }

            &::-webkit-scrollbar-track {
                background-color: darkslategray;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: yellowgreen;
            }

            &::-webkit-scrollbar-corner {
                background-color: transparent;
            }
        }


        #user-box {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            width: 100%;
        }

        #user-box>div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        #user-box>div:not(:last-child) {
            margin-bottom: 2rem;
        }

        #user-box>div span {
            display: block;
            color: white;
            width: 5.5rem;
            font-size: 1.25rem;
            font-weight: 600;
        }

        #user-box>div select,
        #user-box>div input {
            height: 3rem;
            border: none;
            outline: none;
            font-size: 1.25rem;
            padding: 0.5rem 1rem;
            width: 60%;
        }

        #user-box>div select {
            /*-webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;*/
            cursor: pointer;
        }

        #display {
            padding: 1rem 1rem 0.25rem;
            background-color: rgba(70, 180, 180, 0.7);
            color: white;
            width: 100%;
            margin-bottom: 1rem;
            font-size: 1.25rem;
            border: 1px solid rgba(255, 255, 255, 0.5);
        }

        #display div {
            margin-bottom: 0.25rem;
        }

        #display span {
            display: inline-block;
            width: 10rem;
        }
    }
}